/*********************************************

This is the style file for this project.

**********************************************/

body {
  margin: 0;
  padding: 0;
  font-family: Times, serif;
  overflow: hidden;
}

#wrapper {
}

#game {
  width: 95vw;
}

#board {
  width: 95vw;
}

#pgn {
  margin-top: 1em;
  width: 95vw;
  font-size: 3em;
  overflow-y: scroll;
  height: 50vw;
  border: 1px solid grey;
}

#title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

#header {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

#game {
  margin: 0 auto;
  display: none;
  border: none;
}

@media only screen and (min-device-width: 768px) {

  #title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }

  #header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }

  #game {
    /* background-color: red; */
    width: 400px;
  }

  #board {
    width: 400px;
  }

  #pgn {
    margin-top: 1em;
    width: 400px;
    font-size: 1.5em;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid grey;
  }
}


#menu {
}

.menu_button {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

#sisyphus {
  text-decoration-color: #aaf;
}

#prometheus {
  text-decoration-color: #faa;
}

#zeno {
  text-decoration-color: #dad;
}

#danaids {
  text-decoration-color: #dda;
}

#tantalus {
  text-decoration-color: #ada;
}
